@import url(https://fonts.googleapis.com/css?family=Trirong);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family:'Times New Roman', Times, serif;
    
    
}



.section-context{
    max-width: 500px; 
    margin: auto; 
    font-size: xx-large;
    text-align: center;
}

header {
    background-color: rgb(4,4, 18);
}
.navbar .nav-logo .logo-text{
    color: white; 
}
.navbar .nav-menu .nav-link{
    padding: 10px 18px; 
    color: white; 
    
    
}

header .navbar{
    display: flex; 
    padding: 20px; 
    align-items: flex;
    justify-content: space-between;

}
.navbar .nav-menu{
    display: flex; 
    gap: 10px; 
}
h1 {
    display: block;
    position: relative;
    font-size: 56px;
    color: black;
    margin: auto;
    text-align: center;
}


button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a {
    text-decoration: none;
}
